.ft-table {
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 14px;
}
.ft-row {
  border-bottom: 1px solid #ddd;
}
.ft-row-values {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ft-row-with-children > .ft-row-values > .ft-col:first-child:before {
  content: "\25B8";
  margin-right: 6px;
}
.ft-row .ft-row {
  border-bottom: 0;
  border-top: 1px solid #ddd;
}
.ft-row .ft-row .ft-col:first-child {
  padding-left: 20px;
}
.ft-row .ft-row .ft-row .ft-col:first-child {
  padding-left: 32px;
}
.ft-row .ft-row .ft-row .ft-row .ft-col:first-child {
  padding-left: 44px;
}
.ft-col {
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  min-height: 30px;
  padding: 8px;
}
.ft-col:nth-child(1) {
  width: 50%;
}
.ft-col:nth-child(2),
.ft-col:nth-child(3),
.ft-col:nth-child(4) {
  width: 16.6667%;
}
