/* STRUCTURAL  */
.fancy-grid,
.fancy-grid * {
  box-sizing: border-box;
}
.fancy-grid,
.fancy-grid .view {
  position: relative;
  width: 100%;
  height: 100%;
}
.fancy-grid .row,
.fancy-grid .column,
.fancy-grid .pane {
  position: absolute;
  overflow: hidden;
}
.fancy-grid .anchor {
  position: relative;
}
.fancy-grid .row,
.fancy-grid .column {
  pointer-events: none;
}
.fancy-grid .grid9 .column.left {
  z-index: 11;
}
.fancy-grid .grid9 .row.top {
  z-index: 12;
}
.fancy-grid .grid9 .pane.middle.center {
  z-index: 0;
}
.fancy-grid .grid9 .pane.middle.right {
  z-index: 1;
}
.fancy-grid .grid9 .pane.middle.left {
  z-index: 4;
}
.fancy-grid .grid9 .column.right {
  z-index: 10;
}
.fancy-grid .grid9 .pane.bottom.right {
  z-index: 3;
}
.fancy-grid .grid9 .pane.bottom.center {
  z-index: 2;
}
.fancy-grid .grid9 .pane.bottom.left {
  z-index: 5;
}
.fancy-grid .grid9 .row.bottom {
  z-index: 6;
}
.fancy-grid .grid9 .pane.top.left {
  z-index: 9;
}
.fancy-grid .grid9 .pane.top.right {
  z-index: 8;
}
.fancy-grid .grid9 .pane.top.center {
  z-index: 7;
}
.fancy-grid .grid9 .scroller {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  z-index: 20;
}
.fancy-grid .grid9 .scroller:hover {
  background-color: rgba(0,0,0,0.4);
}
.fancy-grid .grid9 .scroller.dragging {
  background-color: rgba(0,0,0,0.6);
}
.fancy-grid .cell {
  position: absolute;
}
.fancy-grid {
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
.fancy-grid .pane {
  background: #fafafa;
}
.fancy-grid .pane.top {
  font-weight: bold;
  background: $cellHeaderColor;
}
.fancy-grid .cell {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  line-height: 16px;
  width: 20%;
}
.fancy-grid .cell.col-0 {
  border-left: 1px solid #ddd;
  width: 50%;
}
.fancy-grid .row-0 {
  border-top: 1px solid #ddd;
}
.ft-cell-content {
  padding: 8px;
}
.col-0 .ft-row-fold-header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.col-0 .ft-row-fold-header:before {
  content: "\25B8";
  display: inline-block;
  margin-right: 5px;
}
.col-0 .ft-row-expanded:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.col-0 .ft-row-indent-1 {
  padding-left: 24px;
}
.col-0 .ft-row-indent-2 {
  padding-left: 40px;
}
.col-0 .ft-row-indent-3 {
  padding-left: 56px;
}
