$basePadding = 8px

.ft
  &-table
    background #fafafa
    border-top 1px solid #ddd
    border-left 1px solid #ddd
    font-size 14px
    position relative

    &-fixed-top
    &-fixed-left
      position absolute
      top 0

    &-fixed-top
      font-weight bold
      background #fff

    &-fixed-left
      background #fafafa

  &-row-fixed
  &-col-fixed
    visibility hidden

  &-row
    border-bottom 1px solid #ddd

    &-values
      display flex

    // nested rows
    .ft-row
      border-bottom 0
      border-top 1px solid #ddd

    // indent first column in nested rows
    .ft-row .ft-col:first-child
      padding-left $basePadding + (2 * $basePadding)

    .ft-row .ft-row .ft-col:first-child
      padding-left $basePadding + (4 * $basePadding)

    .ft-row .ft-row .ft-row .ft-col:first-child
      padding-left $basePadding + (6 * $basePadding)

    // rows that contain other rows show dropdown arrows
    &-with-children
      > .ft-row-values > .ft-col:first-child
        user-select none
        cursor pointer

        &:before
          content "\25B8"
          display inline-block
          margin-right 5px

      &.ft-row-expanded > .ft-row-values > .ft-col:first-child:before
        transform rotate(90deg)

    &-collapsed
      .ft-row
        display none

  &-col
    border-right 1px solid #ddd
    box-sizing border-box
    flex auto
    min-height 30px
    padding $basePadding

    &:nth-child(1)
      width 50%

    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      width 16.6667%

@import "fixed" // leave this out if you want flexible cell widths
