$basePadding = 8px

.ft
  &-table
    background #fafafa
    border-top 1px solid #ddd
    border-left 1px solid #ddd
    font-size 14px

  &-row
    border-bottom 1px solid #ddd

    &-values
      display flex

    // rows that contain other rows show dropdown arrows
    &-with-children
      > .ft-row-values > .ft-col:first-child:before
        content "\25B8"
        margin-right 6px

    // nested rows
    .ft-row
      border-bottom 0
      border-top 1px solid #ddd

    // indent first column in nested rows
    .ft-row .ft-col:first-child
      padding-left $basePadding + 12px

    .ft-row .ft-row .ft-col:first-child
      padding-left $basePadding + 24px

    .ft-row .ft-row .ft-row .ft-col:first-child
      padding-left $basePadding + 36px

  &-col
    border-right 1px solid #ddd
    box-sizing border-box
    flex auto
    min-height 30px
    padding $basePadding

    &:nth-child(1)
      width 50%

    &:nth-child(2), &:nth-child(3), &:nth-child(4)
      width 16.6667%
