.ft
  &-table
    background #fafafa
    border-top 1px solid #ddd
    border-left 1px solid #ddd

  &-row
    border-bottom 1px solid #ddd
    display flex

  &-col
    border-right 1px solid #ddd
    box-sizing border-box
    flex auto
    min-height 30px
    padding 5px
